@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom selection color to match theme */
::selection {
  background-color: #FF0000;
  color: #FFFFFF;
}
